# Python Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / cache files
__pycache__/
*.py[cod]
*$py.class
*.coverage

# Database and large files
*.sqlite3
*.pdf

# Environment variables
.env
